@use "../../assets/sass/variables" as *;

.container {
  margin-top: 35px;
  width: 100%;
  display: flex;

  &__notification {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__notification-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5%;
  }

  &__notification-images {
    display: flex;
    align-items: flex-start;
    width: 10%;
  }

  &__notification-unread {
    position: absolute;
    z-index: 2;
  }
  &__notification-userPic {
    position: relative;
    z-index: 1;
  }

  &__notification-details-username {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: $font-color-dark-blue;
    font-weight: 500;
    font-family: $font-poppins;
    font-size: $font-size-SM;
  }
  &__notification-details-comments {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: $font-color-grey;
    font-weight: 400;
    font-family: $font-poppins;
    font-size: $font-size-SM;
  }
  &__notification-details-ticketLink {
    color: $font-color-dark-blue;
    font-weight: 600;
    font-family: $font-poppins;
    font-size: $font-size-SM;
    text-decoration-line: none;
    text-decoration: underline;
  }

  &__time {
    color: $font-color-grey;
    font-weight: 500;
    font-family: $font-poppins;
    font-size: $font-size-S + 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.line {
  height: 2px;
  width: 90%;
  background-color: $color-light-grey;
  margin-left: 20px;
}
.comments {
  padding: 5px;
  margin: 6px;

  display: flex;
  flex-direction: column;

  &__text {
    color: $font-color-grey;
    font-family: $font-poppins;
    font-size: $font-size-S;
    padding: 5px;
  }
  &__button {
    padding: 5px 5px;
    margin: 10px 5px;
    width: 10%;
    button {
      color: $font-color-grey;
      background-color: $color-light-grey;
      width: 85px;
      height: 30px;
      border-style: none;
      border-radius: 4px;
      font-size: $font-size-XS + 3px;
    }
  }
  &__time {
    padding: 5px 10px;
    margin: 10px;
    color: $font-color-grey;
    font-family: $font-poppins;
    font-size: $font-size-XS;
  }
}
