@use "../../assets/sass/_variables.scss" as *;

.centerBox {
  position: relative;
  width: 50vh;
  height: 50vh;
  margin: 25vh auto;
  font-family: $font-poppins;
}

.title {
  color: $font-color-black;
  font-weight: bold;
}

.instruction {
  color: $font-color-grey;
}

.passwordHeading {
  color: $font-color-light-black;
}

.inputPassword {
  padding: 15px 0 15px 0;
  background: $color-light-grey;
  width: 100%;
  border-radius: 3px;
  border: none;
}

.errorText {
  color: red;
}

.submitButton {
  padding: 15px 0 15px 0;
  color: $font-color-white;
  background: $button-color-blue;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
  width: 100%;
}