@use "../../assets/sass/variables" as *;

* {
  padding: 0;
  margin: 0;
}

.login-page-left-side {
<<<<<<< HEAD:src/component/AuthenticationPageLeft/AuthenticationPageLeft.scss
  width: 80%;
=======
  width: 60%;
>>>>>>> ce2ab2f2a3a3556a7d85788baf56ee33361ad94b:src/components/AuthenticationPageLeft/AuthenticationPageLeft.scss
  height: 100vh;
  background-color: $color-white;
  background-image: url("../../assets/images/login-page-shapes.jpg");
  background-repeat: no-repeat, repeat;
  display: flex;
  justify-content: right;
  align-items: center;

  &__text {
    background-color: $color-white;
    width: 80%;
    height: 20%;
    padding: 7%;
    color: $font-color-grey;
    font-size: $font-size-M;
    line-height: 1.5;
    text-align: left;

    &__header {
      color: $font-color-dark-blue;
      margin-bottom: 5%;
      font-size: $font-size-L;
      line-height: 1.2;
    }
  }
}
