@use "../../assets/sass/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-very-light-grey;
  box-sizing: border-box;
}