@use "../../assets/sass/variables" as *;

* {
  margin: 0;
  padding: 0;
}

.search {
  width: 50%;
  height: 70%;
  display: inline-block;
  border: 2px solid $color-light-grey;
  border-radius: 0.5em;
  box-sizing: border-box;
  background-image: url('../../assets/images/magnifying-glass.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 5%;
  background-color: $color-very-light-grey;
}
