@use "../../assets/sass/variables" as *;

.profile-image {
  //   border: 3px solid red;
  margin-top: 20px;
  border: 1px solid #ccc;

  &__input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  &__button--upload {
    width: 85px;
    height: 25px;
  }
}
