@use "../../assets/sass/variables" as *;

.forgotten-password {
  display: flex;
  justify-content: space-between;
  //   &__AuthenticationDesign {
  //     //   width: 40%;
  //   }
  .forgotten-password-form {
    display: flex;
    flex-direction: column;
    margin: 65px;
    &__heading {
      color: $font-color-black;
      font-family: $font-poppins;
      font-size: $font-size-M;
    }

    &__caption {
      color: $font-color-grey;
      font-family: $font-poppins;
      font-size: $font-size-S;
      font-weight: bold;
    }
    &__EmailLabel {
      margin: 0 5px 5px 0;
      font-size: $font-size-S;
      color: $font-color-light-black;
      font-weight: bold;
    }
    &__EmailInput {
      background-color: $button-color-gray;
      margin: 0 15px 15px 0;
      border: none;
      border-radius: 2.5px;
      padding: 5px;
    }
    &__SubmitButton {
      margin: 0 15px 15px 0;
      padding: 5px;
      background-color: #4bc7f7; // Colour check !!
      border: none;
      border-radius: 2.5px;
      color: $font-color-white;
      font-family: $font-poppins;
      font-size: $font-size-S;
      font-weight: bold;
    }
  }
}
