@use "../../assets/sass/variables" as *;

* {
  margin: 0;
  padding: 0;
}

.top-section-area {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  background-color: $button-color-blue;

  &__logo-section {
    width: 10%;
    display: flex;
    align-items: center;

    p {
      font-size: $font-size-M;
      font-weight: 700;
    }
  }

  &__search-section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__avatar-section {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      background-color: $button-color-blue;
      border: 1px solid $button-color-blue;
      height: 4vh;
      width: 4vh;
      border-radius: 50%;
    }

    img {
      width: 8px;
      height: 4px;
      margin: 0 5%;
    }
  }
}
