@use "./assets/sass/variables" as *;

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 6px;
  height: 500px;

  &__title {
    margin-top: 40px;
  }
}
