$color-black: #000000;
$color-white: #FFFFFF;



$color-background_dashboard :#F7F5F4;
$color-navbar: #455163;
$color-background-container:#E5E5E5;


$color-holiday:#F3EA93 ;

$color-sickness: #FFC077;
$color-sickness-gradient: gradient(90deg, #FF8000 0%, #FEBB78 99.92%);
$color-contact_issues:#57FFD7;
$color-search-box_background: #F3F5F7;
$color-payroll: linear-gradient(90deg, #16A6F8 1.25%, #99CBE7 100%);
$font-grey-light:#9196AB;
$font-color-secondary:#303030;
$font-color-tertiary:#343D61;
$font-grey-dark: #4D5578;
$font-color-quinary:#6E748B;

$font-color-septenary :#98A2AE;
$font-color_octonary: #FF8000;
$font-color_nonary:#0AB9C5;
$font-color_ten:#16A6F8;
$font-color-eleven:#A5A7B4;







